<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MiConexion"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BASE DE SISTEMA - LOCAL;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

<appSettings>
	<add key="Correo.Remitente" value="tegucigalpaarquidiocesis@gmail.com"/>
	<add key="Correo.Contrasena" value="heefwdkcgqomwugb"/>
	<add key="Correo.Smtp" value="smtp.gmail.com"/>
	<add key="Correo.Puerto" value="587"/>
</appSettings>
</configuration>